.hero-container {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-container::before,
.hero-container::after {
    content: " ";
    width: 22rem;
    height: 22rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    flex: 1;
}

.hero-content h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #cccaca;
}

.hero-img {
    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.hero-img > div > img {
    width: 20rem;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tech-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
}

.tech-icon img {
    width: 2rem;
    height: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-img-anim { 
    animation: _main-img-anim infinite 2s ease-in-out 
}

.icons-anim { 
    animation: _icons-anim infinite 2s ease-in-out 
}

.social-media-handles{
    margin-top: 40px;
}

.social-media-handles a{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border-radius: 0.65rem;
    border-radius: 100%;
    margin-right: 15px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border-radius: 0.65rem;
    border: 1.5px solid #8064e8;
}

.social-media-handles a i{
    font-size: 1.5rem;
    color: white;
}

.social-media-handles a:hover{
    background-color: #8064e8;
    transform: translateY(-5px);
    i{  color : white; }
}

@keyframes _main-img-anim {
    50% { 
        transform: translateY(5px) 
    }
}
@keyframes _icons-anim {
    50% { 
        transform: translateY(-2px) 
    }
}

@media (max-width : 1025px) {

    .hero-content h2 {
        font-size: 2.3rem;
        line-height: 3.4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img > div > img {
        width: 20rem;
    }
    
    .tech-icon {
        width: 4rem;
        height: 4rem;
    }

    .tech-icon img {
        width: 2rem;
    }
}

@media (max-width : 890px) {

    .hero-container {
        flex-direction: column;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-container h2 {
        margin-top: 3rem;
    }

    .hero-content h2,
    .hero-content p,
    .social-media-handles
     {
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before {
        content: " ";
        width: 18rem;
        height: 18rem;   
    }

    .hero-container::after {
        top: 0rem;
        left: 0rem;
    }

    .hero-container::before {
        bottom: 2rem;
        right: 0rem;
    }
}

@media (max-width : 600px) {

    .hero-content h2 {
        font-size: 1.9rem;
        line-height: 2.4rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    .hero-img {
        gap: 1rem;
    }

    .hero-img > div > img {
        width: 16rem;
    }

    .tech-icon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon img {
        width: 2rem;
    }
}